*{
    font-family: 'Montserrat' , sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    text-align: justify;
}
a{
  text-decoration: none;
}
.container {
    height: 100vh; 
    width: 95vw; 
    background-color: rgba(254,254,254,255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 1.1fr 0.1fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "aboutme"
      "tratamientos"
      "footer";
  }
  .aboutme{
    grid-area: aboutme;
    font-size: 2em;
    margin-bottom: 20px;
  }
  footer {
    width: 100%;
    grid-area: footer;
    position: sticky;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
  }
  
  header { 
    grid-area: header;
    width: 100%;
    }
  
  .tratamientos {  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "descripcion"
      "trat1"
      "trat2"
      "trat3"
      "trat4"
      "trat5"
      "trat6"
      "descarga";
    grid-area: tratamientos;
    padding-left: 10px;
    background-image: url("img/fondo.png");
    background-repeat: repeat;
    background-size: contain;

  }
  
  .descripcion { 
    grid-area: descripcion; 
    text-align: center;
    }
    .descripcion p{
      text-align: center;
    }
  
  .trat1 {
    
    grid-area: trat1;
    
  }
  
  .trat2 {
    
    grid-area: trat2;
    
  }
  
  .trat3 {
    
    grid-area: trat3;
    
  }
  
  .trat4 {
    
    grid-area: trat4;
    
  }
  
  .trat5 {
    
    grid-area: trat5;
    
  }
  
  .trat6 {
    
    grid-area: trat6;
    
  }
  
  .descarga { 
    grid-area: descarga;
    
   }
  
header h1{
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-align: center;
    font-size: 10em;
    font-weight: bold 800;
    font-style: italic;
    margin-bottom: 0%;
}
header h1:hover {
    color:#54b3d6 ;
  }
header h2{
    text-align: end;
    font-size: 5em;
    font-weight: thin 100;
    margin-top: 0%;
}
img.logo{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.creditos{
  font-size: xx-small;
  text-align: end;
  text-decoration: none;
}
.iconos{
  width: 45px;
  }
.primericono{
  margin-left: 10%;
}
